<% provide(:title, "Log in") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Log in</h1>
    <%= form_tag sessions_path do %>
    <p>
      <%= label_tag :username %>
      <%= text_field_tag :username, nil, placeholder: "username", class: 'form-control' %>
    </p>
    <p>
      <%= label_tag :password %>
      <%= password_field_tag :password, nil, placeholder: "password", class: 'form-control' %>
    </p>
    <p>
      <%= submit_tag 'Log in', class: "btn btn-primary" %>
    </p>
    <% end %>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
