<%# app/views/records/index.html.erb %>
<div class= "container">
  <%= react_component( 'JobsBox', jobs: @jobs) %>
</div>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:title, "Enter job title or keywords") %>
  <%= text_field_tag(:title, nil, placeholder: 'Job Title') %>
  <%= label_tag(:location, "Enter city, state or zip code") %>
  <%= text_field_tag(:location, nil, placeholder: 'City') %>
  <%= submit_tag("Find Jobs") %>
<% end %>

<form method="get" action="match" class="button_to">
  <input value="Match Jobs" type="submit" />
</form>

<%= button_to "Delete", {:controller => :jobs,
      :action => 'destroy', :id => current_user.id }, :method => :delete %>
