<h4>Jobs Found</h4>
<div class= "container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%= paginate @jobs %>
      <%= react_component('JobsBox', jobs: @jobs) %>
      <%= paginate @jobs %>

      <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:title, "Enter job title or keywords") %>
      <%= text_field_tag(:title, nil, placeholder: 'Job Title') %>
      <%= label_tag(:location, "Enter city, state or zip code") %>
      <%= text_field_tag(:location, nil, placeholder: 'City') %>
      <%= label_tag(:pages, "Pages to inspect (not needed for angel site)") %>
      <%= number_field_tag(:pages, nil, placeholder: 'Number of Pages') %>
      <p> Select website to get jobs from (angel.co is default) </p>
      <%= check_box_tag 'angel_scraper', 'yes', true %> <p>Angel</p>
      <%= check_box_tag 'indeed_scraper' %> <p>Indeed</p>
      <%= submit_tag("Find Jobs") %>
      <% end %>

      <%= form_for @user, url: users_path, html: { multipart: true } do |f| %>
      <%= f.file_field :document %>
      <%= f.submit "Update Resume", class: "btn btn-primary" %>
      <% end %>
      <p>
        <form method="get" action="match" class="button_to">
          <input value="Match Jobs" type="submit" />
        </form>
      </p>
      <p>
        <form method="get" action="apply" class="button_to">
          <input value="Apply to Jobs" type="submit" />
        </form>
      </p>
      <p>
        <%= button_to "Delete Jobs", {:controller => :jobs, :action => 'destroy', :id => @user.id },
        :method => :delete %>
      </p>
    </div>
  </div>
</div>
