<h4>Job Matches</h4>
<div class= "container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p><%= paginate @jobs %></p>
      <p><%= link_to "Back To General Jobs", users_jobs_path %></p>
      <%= form_tag destroy_multiple_jobs_path, method: :delete do %>
      <table class="table table-striped table-bordered table-condensed">
        <tr>
          <th class="text-center"> Job </th>
          <th class="text-center"> Job ID </th>
          <th class="text-center"> Job Hex_ID </th>
          <th class="text-center"> Title </th>
          <th class="text-center"> Company </th>
          <th class="text-center"> Location </th>
          <th class="text-center"> Description </th>
          <th class="text-center"> Score </th>
          <th class="text-center"> Post Date </th>
          <th class="text-center"> URL </th>
          <th class="text-center"> Applied </th>
        </tr>
        <% @jobs.each do |job| %>
        <td class="text-center"><%= check_box_tag "jobs[]", job.id %></td>
        <td class="text-center"><%= "#{job.id}" %></td>
        <td class="text-center"><%= "#{job.hex_id}" %></td>
        <td class="text-center"><%= "#{job.title}" %></td>
        <td class="text-center"><%= "#{job.company}" %></td>
        <td class="text-center"><%= "#{job.location}" %></td>
        <td class="text-center"><%= truncate("#{job.description}", length: 100) %></td>
        <td class="text-center"><%= "#{job.score.round(2)}" %></td>
        <td class="text-center"><%= "#{job.post_date}" %></td>
        <td class="text-center"><%= "#{job.url}" %></td>
        <td class="text-center"><%= "#{job.applied}" %></td>
      </tr>
      <% end %>
    </table>
    <%= submit_tag "Delete Selected Jobs" %>
    <% end %>
    <br>

    <p><%= paginate @jobs %></p>
    <p><%= link_to_if !@user.document.url.nil?, 'Resume', @user.document.url %></p>

    <form method="get" action="apply" class="button_to">
      <p> Select website jobs to apply </p>
      <input type="checkbox" name="angel_applier" checked>Angel<br>
      <input type="checkbox" name="indeed_applier">Indeed<br>
      <input value="Apply to Jobs" type="submit" />
    </form>

    <p><%= link_to "Back To General Jobs", users_jobs_path %></p>
    </div>
  </div>
</div>
