<h1>Sign up</h1>
  <%= form_for @user, url: users_path do |f| %>
    <p>
      <%= f.label :username %> <%= f.text_field :username, placeholder: "username" %>
    </p>
    <p>
      <%= f.label :password %> <%= f.password_field :password, placeholder: "password" %>
    </p>
    <p>
      <%= f.label :password_confirmation %> <%= f.password_field :password_confirmation, placeholder: "password" %>
    </p>
    <p>
      <%= f.submit "Sign Up" %>
    </p>
  <% end %>
